<!DOCTYPE html>
<html>
<head>
</head>
<body
    style="font-family: Arial, sans-serif; margin: 0; background-color: #dee9f9; color: #365789!important; font-size: 21px; padding-bottom: 10px;">

    <div style="background-color: #1B2B44; padding: 20px;">
        <img src="https://i.ibb.co/1GqfVv1/Blue-Bird-Logo-Color-Light-Text.png" alt="Logo"
            style="max-width: 200px; height: auto; margin: 0 auto; display: block;">
    </div>

    <div style="margin: 20px;">
        <p>Hello, {{ name }}</p>
        <p>Your resource was uploaded succesfully, here's what we received:</p>
        <ul>
            <li>Email: {{ email }}</li>
            <li>Resource Title: {{ title }}</li>
            <li>Ticket Number: {{ ticket_number }}</li>
            <li>Additional Notes: {{ additional_notes }}</li>
        </ul>
        <p>Thanks for uploading your resource. Your compensation will be sent soon.</p>
    </div>

    <div style="font-style: italic; margin: 30px 20px; line-height: .4;">
        <p>Thanks,</p>
        <p>www.bluebird-teaching.com</p>
        <p>yomen.tohmaz.edu@gmail.com</p>
    </div>
</body>
</html>