<!DOCTYPE html>
<html>
<head>
</head>
<body
    style="font-family: Arial, sans-serif; margin: 0; background-color: #dee9f9; color: #365789!important; font-size: 21px; padding-bottom: 10px;">

    <div style="background-color: #1B2B44; padding: 20px;">
        <img src="https://i.ibb.co/1GqfVv1/Blue-Bird-Logo-Color-Light-Text.png" alt="Logo"
            style="max-width: 200px; height: auto; margin: 0 auto; display: block;">
    </div>

    <div style="margin: 20px;">
        <p>Hello, {{ name }}</p>
        <p>We received the following information regarding your contract:</p>
        <ul>
            <li>Email: {{ email }}</li>
            <li>Resource Description: {{ description }}</li>
            <li>Grade Level: {{ grade }}</li>
            <li>Desired Compensation: {{ compensation }}</li>
        </ul>
        <p>Your unique ticket number is: {{ ticket_number }}</p>
        <p>Use this ticket to upload your resource after approval.</p>
        <p>We will get back to you soon. Feel free to let us know of any changes in the meantime.</p>
    </div>

    <div style="font-style: italic; margin: 30px 20px; line-height: .4;">
        <p>Thanks,</p>
        <p>www.bluebird-teaching.com</p>
        <p>yomen.tohmaz.edu@gmail.com</p>
    </div>
</body>
</html>